body{
    background-color: beige;
}
.main{
    text-align: center;
    margin-top: 200px;
    font-size: 20px;
    border: 2px solid black;
    background-color: aquamarine;
    margin: 200px;
}
.but{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.but :hover{
    opacity: 0.5;
}